body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px
}
h2{
    font-size: 35px
}
.highlight-orange{
    color: orangered;
}
.pro{
    color: gold;
}
.half{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 4%;
}
.half img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:500px;
    padding-bottom: 50px;
}
.linked-text{
    text-decoration: none;
}
.button{
    text-decoration: none;
    background-color: rgb(255, 37, 80);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.button2{
    text-decoration: none;
    background-color: rgb(32, 32, 255);
    color: white;
    padding: 8px 32px;
    border-radius: 5px;
    font-weight: 700;
}
P{
    color: darkslategray;
}
.future{
    background-image: url("images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    
}
.bottom{
padding-top: 3%;
padding-right: 4%;
}
.experience-box{
    box-shadow: 10px 10px 40px rgb(14, 14, 14);
    border-radius: 8px;
    height: 85%;
    background-color:white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
}
#full-stack{
border-left: 7px solid;
border-image: 
linear-gradient(
  to top, 
  orangered, 
  rgb(255, 230, 0)
) 1 100%;
border-image-slice: 1;
}
#newbie{
border-left: 7px solid;
border-image:
linear-gradient(
  to bottom, 
  rgb(32, 32, 255), 
  rgb(0, 140, 255)
) 1 100%;
}
footer{
    text-align: center;
    padding-bottom: 10px;
    size: 10px;
    font-weight: 700;
    color: darkslategrey;
}
.shead {
    text-align: center;
}
.social {
    text-align: center;
    display: flex;
    justify-content: center;
}

.social img {
    max-width: 600px;
    max-height: 60px;
    padding-bottom: 50px;
    padding-right: 5px;
}